/* CSS Document */

/*Body Style*/

body {
	margin: 0;
	padding: 0;
	background-image: url(../img/eosback_curlicue1b.gif);
}
/*body {
	margin: 0;
	padding: 0;
	font: 90%/1em Arial, Verdana, Helvetica, sans-serif;
	color:"#F0F0F0";
  background: url(img/background.gif);
} */

p {
	line-height: 1.35em;
}

/*Div Format*/

#container {
	background-image: url(../img/background_container-ccotti.gif);
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0 50px 0 50px;
	width: 628px !important;
	width /**/: 750px;
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: 1em;
	color: #BBB5A2;
}

#header {
	height: 100px;
	margin-left: 0;
	width: 630px;
	background-image: url(../img/header002.jpg);
}

/*------------------------------------------------------
S U P P O R T I N G   T E X T 
------------------------------------------------------*/

#supportingText {
	width: 460px;
}
#supportingText {
	padding: 50px;
	padding-bottom: 0;
	width: 510px !important;
	width /**/: 628px;
	background-image: url(../img/bg_body_003.jpg);
	/*background: url(i_supportingtext_header.gif) no-repeat;*/
	color: #BDC1BC;
}

/* #container {
	width: 90%;
	margin-left: 20px;
}  

#content {
	padding: 1em;
	margin-right: 175px;
}  */

#rightcolumn {
	float: right;
	width: 130px;
	margin: 0;
	margin-top: 20px;
	padding: 1em;
	min-height: 600px;
}

#footer {
	clear: both;
	text-align: center;
	font-size:10px
	margin: 0px auto;
	margin-top: 0px;
	width: 90%;
	height: 40px;
	line-height: 1.0em;
	padding: 1em 0;
	padding-left: 10px;
	padding-right: 10px;
}
