
 /* NOTES: For editing the gradients edit the startColorStr and endColorStr in 2 places: */


 /* START COLORS - BACKGROUND COLORS */

BODY		{
		scrollbar-base-color: #000000;
 		background-color: #666666;
		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,
		startColorStr=#000000,endColorStr=#666666 );
		}

 /* IMAGE SIZE */


.imagearea	{ height: 350px; }


 /* BORDER COLORS */

.borderlines	{
		border-top: #996666 1px solid; 
		border-bottom: #996666 1px solid;
		padding: 5px;
		height: 20px;
		background-color: #000000;
		}


 /* MAIN FONT COLOR */

TABLE 		{ COLOR: #C0C0C0; FONT: bold 11px arial, sans-serif; }

.title 		{ color: #FFFFFF; font: 16px arial, sans-serif; font-weight: bold; }

.just 		{ text-align: justify; }


 /* LINK COLORS */

a:link    	{ color: #FFFFFF; text-decoration: none; }
a:active	{ color: #FFFFFF; text-decoration: none; }
a:visited	{ color: #FFFFFF; text-decoration: none; }
a:hover		{ color: #CC9999; text-decoration: none; }



 /* BUTTON COLORS AND SPACING */

.enterbutton		{
			padding-top: 3px;
			padding-bottom: 3px;
			width: 160px;
			white-space: nowrap;
			display: block;
			border: #999999 1px solid;
			background-color: #333333;
			}

a.enterbutton:hover	{
			color: #CC9999;
			text-decoration: none;
			border: #CC9999 1px solid;
			}




