#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#lightbox img {
	width: auto;
	height: auto;
}
#lightbox a img {
	border: none;
}
#outerImageContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#imageContainer {
	padding: 10px;
}
#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#imageContainer>#hoverNav {
	left: 0;
}
#hoverNav a {
	outline: none;
}
#prevLink, #nextLink {
	width: 49%;
	height: 100%;
	background-image: url(data:img/lightbox2/gif;base64,AAAA); /* Trick IE into showing hover */
	display: block;
}
#prevLink {
	left: 0;
	float: left;
}
#nextLink {
	right: 0;
	float: right;
}
#prevLink:hover, #prevLink:visited:hover {
	background: url(../img/lightbox2/prevlabel.gif) left 15% no-repeat;
}
#nextLink:hover, #nextLink:visited:hover {
	background: url(../img/lightbox2/nextlabel.gif) right 15% no-repeat;
}
#imageDataContainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
}
#imageData {
	padding:0 10px;
	color: #666;
}
#imageData #imageDetails {
	width: 70%;
	float: left;
	text-align: left;
}
#imageData #caption {
	font-weight: bold;
}
#imageData #numberDisplay {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#imageData #bottomNavClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
	outline: none;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
}


/**** from other website ****/

/*
#lightbox2{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox2 a img{ border: none; }

#lightbox2 #outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#lightbox2 #imageContainer{
	padding: 10px;
	}

#lightbox2 #loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#lightbox2 #hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#lightbox2 #imageContainer>#hoverNav{ left: 0;}
#lightbox2 #hoverNav a{ outline: none;}

#lightbox2 #prevLink, #lightbox2 #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */ /*
	display: block;
	}
#lightbox2 #prevLink { left: 0; float: left;}
#lightbox2 #nextLink { right: 0; float: right;}
#lightbox2 #prevLink:hover, #lightbox2 #prevLink:visited:hover { background: url(../../libraries/lightbox202/images/prevlabel.gif) left 15% no-repeat; }
#lightbox2 #nextLink:hover, #lightbox2 #nextLink:visited:hover { background: url(../../libraries/lightbox202/images/nextlabel.gif) right 15% no-repeat; }


#lightbox2 #imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#lightbox2 #imageData{
	padding:0 10px;
	}
#lightbox2 #imageData #imageDetails{ width: 50%; float: left; text-align: left; color: #000 }	
#lightbox2 #imageData #caption{ font-weight: bold }
#lightbox2 #imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#lightbox2 #imageData #bottomNavPrev { width: 20px; float: right;  padding-bottom: 0.7em;	}
#lightbox2 #imageData #bottomNavPrev img { display:block; margin:3px auto 0 auto; }
#lightbox2 #imageData #bottomNavNext { width: 20px; float: right;  padding-bottom: 0.7em;  }
#lightbox2 #imageData #bottomNavNext img { display:block; margin:3px auto 0 auto; }			
#lightbox2 #imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; margin:0 0 0 10px; }	
		
#lightbox2-overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}

#lightbox2 .clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body #lightbox2 .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html #lightbox2 .clearfix {
	/* Hides from IE-mac \*/
/*	height: 1%;
	/* End hide from IE-mac */
/*	}
*/
